.AddExpense {
  border-radius: var(--border-radius-semi-circle);
  padding: 10px 14px;
  width: fit-content;
  height: 38px;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-button);
  text-transform: capitalize;

  & svg {
    fill: var(--color-white);
    margin-right: 3px;
  }
}
