.Navbar {
  border-right: 1px solid var(--color-light-grey);
  height: inherit;
  background-color: var(--color-black);
  color: var(--color-white);
  position: relative;

  & h1 {
    font-family: var(--font-family-roboto-mono);
    font-weight: bold;
  }

  & .NavbarLogoLink {
    display: block;
    padding: 20px 26px;
    margin-bottom: 5px;
  }

  & .NavbarLinks {
    display: grid;
    gap: 10px;
    margin: 0 16px;
    font-family: var(--font-family-roboto-mono);

    & a {
      transition: var(--transition);
      display: flex;
      padding: 8px 16px;
      align-items: center;
    }

    & span {
      display: block;
      margin-left: 12px;
    }

    & svg {
      fill: var(--color-white);
    }

    & a:hover,
    & .NavbarLinkActive {
      background: var(--color-slightly-black);
      border-radius: var(--border-radius);
      color: var(--color-orange);

      & svg {
        fill: var(--color-orange);
      }
    }
  }

  & .ThemeToggle {
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}

.Account {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-family: var(--font-family-roboto-mono);

  & button {
    background-color: transparent;
    width: 130px;
    margin: 0 16px;
    cursor: pointer;
    text-transform: initial;

    &:hover {
      color: var(--color-orange);

      & svg {
        fill: var(--color-orange);
      }
    }
  }

  & svg {
    fill: var(--color-white);
    margin-right: 12px;
  }
}
