.ThemeToggle {
  margin-left: 20px;
  appearance: none;
  background: none;
  border: none;
  color: var(--color-white);
  display: flex;
  align-items: center;

  & svg {
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: var(--color-white);
    margin-right: 10px;
  }

  & .DarkModeIcon {
  }
}

[data-theme='dark'] {
  & .ThemeToggle {
    & .LightModeIcon {
    }
  }
}

@media all and (max-width: 480px) {
  .ThemeToggle {
    margin-left: 5px;
  }
}
