input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: textfield !important;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	appearance: none;
}

textarea {
	resize: none;
}

.dark select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.dark .fill-tremor-content-emphasis {
	fill: #fff !important;
}

.tremor-BarList-labelText,
.recharts-surface text.fill-tremor-content-emphasis {
	font-variant-numeric: tabular-nums;
}

.dark .tremor-BarList-labelText {
	color: #fff !important;
}

.dark .recharts-tooltip-wrapper .text-tremor-content {
	color: #000 !important;
}

.tremor-BarList-labelText {
  font-weight: 500;
}