.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 90vh;

  & h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  & h2 {
    margin-bottom: 20px;
    font-size: 1.6em;
  }

  & h3 {
    margin-bottom: 10px;
  }

  & p {
    padding-top: 10px;
    color: var(--color-green);
    font-weight: var(--font-weight-semibold);
  }
}

.LoginCard {
  width: 340px;
  height: 210px;
  background: var(--color-slightly-black);
  border-radius: var(--border-radius);
  padding: 16px;
  box-shadow: var(--box-shadow);
  color: var(--color-white);

  & label {
    margin-bottom: 8px;
  }

  & input {
    width: 100%;
    margin-bottom: 15px;
  }

  & button svg {
    margin-right: 10px;
  }
}
