.AddExpenseModal {
  background: var(--color-white);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 8px;
  padding: 18px 25px;
  transition: var(--transition-cubic-transform);
  max-width: 550px;
  height: 380px;
  margin: auto;
  box-shadow: var(--box-shadow);
  will-change: transform;
  z-index: 2;
  user-select: none;
  transform: translateY(102%);
}

.AddExpenseModalShadow {
  position: fixed;
  inset: 0px;
  background-color: var(--color-transparent-black);
  z-index: 1;
  display: block;
}

.AddExpenseModalContent {
  display: grid;
  gap: 8px;

  & input,
  & select {
    /* margin-left: 10px; */
  }

  & label {
    display: block;
    font-weight: var(--font-weight-bold);
  }
}

.AddExpenseAction {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  & button {
    width: 100px;

    &:active {
      opacity: 0.8;
    }

    &:first-child {
      margin-right: 10px;
      background-color: transparent;
      color: var(--color-black);
    }
  }
}
