@import './reset.css';
@import './variables.css';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-extra-bold);
}

a {
  color: inherit;
  text-decoration: none;
}

.Layout {
  width: 100%;
  height: 100%;
  display: flex;

  & .Layout__sidebar,
  & .Layout__content {
    height: 100%;
  }

  & .Layout__sidebar {
    width: var(--sidebar-width);
  }

  & .Layout__content {
    width: calc(100% - var(--sidebar-width));
    padding: 30px;
  }
}
