@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		-moz-appearance: textfield !important;
	}

	input {
		border-color: var(--border-gray-300);
	}
}

html,
#__next {
	height: 100%;
}
