@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold;
		font-family: inherit;
	}

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-size: 100%;
		font-weight: inherit;
		line-height: inherit;
		color: inherit;
		margin: 0;
		padding: 0;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		-moz-appearance: textfield !important;
	}

	select {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%234b5563' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
		background-position: right 0.5rem center;
		background-repeat: no-repeat;
		background-size: 1.5em 1.5em;
		padding-right: 2.5rem;
	}

	input[type='checkbox'] {
		appearance: none;
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
		appearance: none;
		padding: 0;
		print-color-adjust: exact;
		display: inline-block;
		vertical-align: middle;
		background-origin: border-box;
		user-select: none;
		flex-shrink: 0;
		height: 1rem;
		width: 1rem;
		background-color: #fff;
		border-color: #cbd5e1;
		border-width: 1px;
		border-radius: 0.25rem;
	}

	[type='checkbox']:checked,
	[type='radio']:checked {
		border-color: transparent;
		background-color: currentColor;
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	textarea {
		resize: none;
	}

	select {
		appearance: none;
	}

	button[disabled],
	button[type='submit'][disabled] {
		cursor: not-allowed;
	}
}

/* Hacky fix avoid tremor library overiding fonts */
:root {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
#__next {
	height: 100%;
}

#nprogress .bar {
	background: #60a5fa !important;
}

.tr-border-gray-300 {
	--tw-border-opacity: 1 !important;
	border-color: rgb(229 231 235 / var(--tw-border-opacity)) !important;
}

.recharts-legend-wrapper {
	top: -5px !important;
}

.tremor-base button svg {
	color: var(--text-black) !important;
}

.ranger-picker .tremor-base > div > button:last-child.input-elem.tr-inline-flex {
	min-width: 150px;
}
