:root {
  /* Colors */
  --color-black: #000;
  --color-slightly-black: #191919;
  --color-transparent-black: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-orange: #ff5722;
  --color-grey: #ccc;
  --color-light-grey: #ddd;

  /* Box Shadow */
  --box-shadow: rgb(0 0 0 / 17%) 0px 0px 8px;
  --box-shadow-button: 0px 1px 4px 0 rgb(0 0 0 / 50%);

  /* Fonts */
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-roboto-mono: 'Roboto Mono', monospace;

  /* Font Weight */
  --font-weight: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 900;

  /* Widths */
  --sidebar-width: 280px;

  /* Borders */
  --border-radius: 8px;
  --border-radius-semi-circle: 40px;
  --border-radius-round: 50%;

  /* Transitions & Animations */
  --transition: all 0.2s linear;
  --transition-cubic-transform: transform 0.33s cubic-bezier(0, 0, 0.3, 1) 0s;
}
